:root {
  --waves-library--black: #131313;
  --waves-library--white: white;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

.waves---section-hero-primary {
  padding-top: 100px;
  padding-bottom: 100px;
}

.waves---subtitle {
  font-size: 24px;
  line-height: 36px;
}

.waves---mg-top-16 {
  margin-top: 16px;
}

.waves---cta-dark {
  background-color: var(--waves-library--black);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color .2s;
  display: flex;
}

.waves---cta-dark:hover {
  background-color: #131313e6;
}

.waves---cta-dark.wide-cta {
  min-width: 200px;
}

.waves---main-container {
  max-width: 1352px;
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

.waves-hero-3-grid {
  grid-column-gap: 40px;
  grid-template-rows: auto;
}

.waves-content-hero-3 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 544px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 56px;
  display: flex;
}

.waves-master-image-hero-3 {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.waves-image-hero-3 {
  object-fit: cover;
  border-radius: 24px;
  width: 100%;
  height: 100%;
}

.waves---heading-1-no-margins {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  line-height: 108%;
  display: flex;
}

.waves-navbar-1 {
  z-index: 105;
  background-color: var(--waves-library--white);
  border-bottom: 1px solid #13131333;
  height: 100px;
  position: fixed;
  inset: 0% 0% auto;
}

.waves---nav-container {
  max-width: 1440px;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

.waves-master-nav-1 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  display: flex;
}

.waves---nav-brand-link {
  height: auto;
}

.waves---brand {
  vertical-align: baseline;
  max-width: none;
  height: 70px;
  margin-bottom: 0;
  display: block;
}

.waves---nav-link {
  padding: 12px 16px;
  font-family: Merriweather, serif;
  font-size: 16px;
  font-weight: 400;
}

.waves-right-nav-1 {
  grid-column-gap: 16px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.waves---nav-buttons-right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.waves---nav-menu {
  grid-column-gap: 16px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.waves-dropdown-toggle {
  grid-column-gap: 6px;
  justify-content: center;
  align-items: center;
  padding: 12px 8px 12px 16px;
  display: flex;
}

.waves-icon-drodpdown {
  width: 24px;
  height: 24px;
}

.waves-dropdown-list.w--open {
  background-color: var(--waves-library--white);
  border: 1px solid #1313131a;
  border-radius: 4px;
}

.waves---dropdown-link {
  text-align: center;
}

.waves---nav-cta {
  background-color: var(--waves-library--black);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.waves---main-container-2 {
  max-width: 1352px;
  padding-left: 24px;
  padding-right: 24px;
}

.waves---section-medium {
  padding-top: 100px;
  padding-bottom: 100px;
}

.waves---heading-2-no-margins {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 130%;
}

.waves---paragraph-big {
  font-size: 20px;
  line-height: 130%;
}

.waves---center-heading {
  grid-row-gap: 16px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.waves---paragraph-regular {
  font-size: 18px;
  line-height: 130%;
}

.waves---expandable-open {
  transform-origin: 50% 0;
}

.waves---expandable-item {
  border-top: 1px solid var(--waves-library--black);
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.waves---expandable-content {
  width: 100%;
  height: auto;
  margin-right: 24px;
}

.waves---expand-line {
  background-color: var(--waves-library--black);
  width: 16px;
  height: 2px;
}

.waves---expand-line.vertical {
  width: 2px;
  height: 16px;
  position: absolute;
}

.waves---expand-icon-wrap {
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  display: flex;
}

.waves-expanded-text {
  margin-bottom: 0;
  font-size: 16px;
}

.waves---expandable-wrap {
  flex-direction: column;
  width: 100%;
  display: flex;
}

.waves-expandable-master-faq-2 {
  width: 100%;
  max-width: 545px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.waves---expand-space {
  height: 24px;
}

.body {
  color: #363636;
  background-color: #fff;
  font-family: Georgia, Times, Times New Roman, serif;
}

.waves---mg-top-17 {
  margin-top: 16px;
}

.waves---cta-dark-2 {
  background-color: var(--waves-library--black);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color .2s;
  display: flex;
}

.waves---cta-dark-2:hover {
  background-color: #131313e6;
}

.waves---main-container-3 {
  max-width: 1352px;
  padding-left: 24px;
  padding-right: 24px;
}

.waves---section-medium-2 {
  background-color: #f3f3f3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.waves---heading-2-no-margins-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 130%;
}

.waves---paragraph-big-2 {
  font-size: 20px;
  line-height: 130%;
}

.waves---grid-image-halves {
  grid-column-gap: 40px;
  grid-template-rows: auto;
}

.waves---content-image-halves {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 520px;
  display: flex;
}

.waves-image-features-3 {
  border-radius: 24px;
  width: 100%;
}

.waves---single-check-item {
  grid-column-gap: 6px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.waves---check-icon {
  width: 24px;
  height: 24px;
}

.waves---paragraph-small {
  font-size: 16px;
  line-height: 130%;
}

.waves---section-medium-3 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.waves---master-checks-vertical {
  grid-row-gap: 12px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.waves-image-features-4 {
  border-radius: 24px;
  width: 100%;
}

.waves---cta-dark-3 {
  background-color: var(--waves-library--black);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color .2s;
  display: flex;
}

.waves---cta-dark-3:hover {
  background-color: #131313e6;
}

.waves---main-container-4 {
  max-width: 1352px;
  padding-left: 24px;
  padding-right: 24px;
}

.waves---section-medium-4 {
  background-color: #202020;
  padding-top: 40px;
  padding-bottom: 40px;
}

.waves---sides-heading-button {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.waves---heading-2-no-margins-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 130%;
}

.waves-grid-features-1 {
  grid-column-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.waves-tile-feature-1 {
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 32px;
  display: flex;
}

.waves---heading-3-no-margins {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.waves---heading-3-no-margins.light {
  color: #fff;
}

.waves-icon-32 {
  width: 32px;
  height: 32px;
}

.waves---mg-bottom-16 {
  margin-bottom: 16px;
}

.waves---mg-bottom-100 {
  margin-bottom: 100px;
}

.waves---mg-top-18 {
  margin-top: 16px;
}

.waves---paragraph-big-3 {
  font-size: 20px;
  line-height: 130%;
}

.waves---content-image-halves-2 {
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 520px;
  display: flex;
}

.waves---cta-white {
  background-color: var(--waves-library--white);
  color: var(--waves-library--black);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.waves---cta-white.medium-wide-cta {
  min-width: 150px;
}

.waves---grid-cta-3 {
  grid-column-gap: 80px;
  grid-template-rows: auto;
}

.waves-master-cta-4 {
  background-color: var(--waves-library--black);
  color: var(--waves-library--white);
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 120px;
  display: flex;
}

.waves-image-cta-4 {
  border-radius: 24px;
  width: 90%;
  max-width: 320px;
}

.waves---2-cta-flex {
  grid-column-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.waves---cta-outline-white {
  border: 1px solid var(--waves-library--white);
  color: var(--waves-library--white);
  background-color: #13131300;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.waves---cta-outline-white.medium-wide-cta {
  min-width: 150px;
}

.text-block {
  font-size: 16px;
}

.text-block.light {
  color: #dbdbdb;
}

.text-block-2 {
  font-size: 16px;
}

.text-block-2.light {
  color: #dbdbdb;
}

.text-block-3 {
  font-size: 16px;
}

.text-block-3.light {
  color: #dbdbdb;
}

.text-block-4 {
  font-size: 16px;
}

.text-block-4.light {
  color: #dbdbdb;
}

.waves-master-gallery-3 {
  height: auto;
  position: sticky;
  top: 10vh;
  overflow: hidden;
}

.waves-bottom-gird-gallery-3 {
  grid-template-rows: auto;
  grid-template-columns: .9fr .8fr 1.2fr .7fr;
  width: 120vw;
  height: 39vh;
  margin-bottom: 0;
}

.waves-top-grid-gallery-3 {
  grid-template-rows: auto;
  grid-template-columns: .7fr 1.2fr .8fr .9fr;
  width: 120vw;
  height: 39vh;
  margin-bottom: 16px;
}

.waves-small-image-wrap-gallery-3 {
  border-radius: 8px;
  height: 70%;
  position: relative;
  overflow: hidden;
}

.waves-medium-image-wrap-gallery-3 {
  border-radius: 8px;
  height: 80%;
  position: relative;
  overflow: hidden;
}

.waves-big-image-wrap-gallery-3 {
  border-radius: 8px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.waves-image-gallery-3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.waves-master-gallery-1 {
  width: 100%;
  max-width: 1122px;
  margin-left: auto;
  margin-right: auto;
}

.waves-grid-gallery-1 {
  grid-column-gap: 32px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.waves-column-gallery-1 {
  grid-row-gap: 32px;
  flex-direction: column;
  display: flex;
}

.waves-image-gallery-1 {
  border-radius: 24px;
  width: 100%;
}

.waves-text-wrap-gallery-1 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.waves---section-hero-primary-2 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.waves---mega-heading-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100px;
  line-height: 115%;
}

.waves---subtitle-2 {
  font-size: 24px;
  line-height: 40px;
}

.waves---cta-dark-4 {
  background-color: var(--waves-library--black);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color .2s;
  display: flex;
}

.waves---cta-dark-4:hover {
  background-color: #131313e6;
}

.waves---cta-dark-4.wide-cta {
  min-width: 200px;
}

.waves---main-container-5 {
  max-width: 1352px;
  padding-left: 24px;
  padding-right: 24px;
}

.waves-divider-hero-4 {
  background-color: var(--waves-library--black);
  width: 100%;
  height: 1px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.waves-bottom-hero-3 {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.waves-bottom-right-hero-3 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 430px;
  display: flex;
}

.waves---mg-top-32 {
  margin-top: 32px;
}

.waves---mega-heading-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100px;
  line-height: 115%;
}

.waves---subtitle-3 {
  font-size: 24px;
  line-height: 40px;
}

.waves---limit-480 {
  width: 100%;
  max-width: 480px;
}

.waves---mg-top-33 {
  margin-top: 16px;
}

.waves---main-container-6 {
  max-width: 1352px;
  padding-left: 24px;
  padding-right: 24px;
}

.waves-section-hero-5 {
  color: var(--waves-library--white);
  background-image: url('../images/DSC_0254_E1-0101.jpg');
  background-position: 50%;
  background-size: cover;
  padding-top: 340px;
  padding-bottom: 88px;
  position: relative;
}

.waves-gradient-hero-5 {
  background-image: linear-gradient(#1313131a 22%, #131313a8 77%, #131313cc);
  position: absolute;
  inset: 0%;
}

.waves-title-wrap-hero-5 {
  z-index: 1;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.waves---cta-white-2 {
  background-color: var(--waves-library--white);
  color: var(--waves-library--black);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 52px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.waves---cta-white-2.wide-cta {
  min-width: 200px;
}

.bold-text {
  font-weight: 400;
}

.waves---paragraph-small-2 {
  font-size: 16px;
  line-height: 130%;
}

.waves-icon-24 {
  width: 24px;
  height: 24px;
}

.waves-footer-1 {
  background-color: var(--waves-library--white);
  border: 1px solid #000;
  border-top-color: #ccc;
  padding-top: 40px;
  padding-bottom: 40px;
}

.waves-top-footer-1 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.waves-brand-link-footer-1 {
  height: 32px;
}

.waves-brand-footer-1 {
  height: 100%;
}

.waves-top-right-footer-1 {
  grid-column-gap: 32px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.waves-link-footer-1 {
  text-decoration: none;
}

.waves-divider-footer-1 {
  background-color: #13131333;
  width: 100%;
  height: 1px;
  margin-top: 64px;
  margin-bottom: 32px;
}

.waves-bottom-footer-1 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.waves-bottom-right-footer-1 {
  grid-column-gap: 24px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .waves---section-hero-primary {
    text-align: center;
  }

  .waves-hero-3-grid {
    grid-template-columns: 1fr;
  }

  .waves-content-hero-3 {
    text-align: center;
    align-items: center;
    padding-left: 0;
  }

  .waves---heading-1-no-margins {
    font-size: 64px;
    line-height: 115%;
  }

  .waves---nav-brand-link {
    padding-left: 0;
  }

  .waves---nav-link {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    display: flex;
  }

  .waves---nav-buttons-right {
    grid-column-gap: 8px;
  }

  .waves---nav-menu {
    background-color: var(--waves-library--white);
    border: 1px solid #1313131a;
    border-radius: 8px;
    margin-top: 4px;
  }

  .waves-dropdown-toggle {
    padding-right: 16px;
    font-size: 20px;
  }

  .waves-dropdown-list.w--open {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    position: static;
  }

  .waves---dropdown-link {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
  }

  .waves---menu-button {
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 0;
    display: flex;
  }

  .waves---menu-button.w--open {
    background-color: var(--waves-library--black);
    border-radius: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    padding: 0;
    display: flex;
  }

  .waves---hamburger-icon {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
  }

  .waves---nav-dropdown {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves---grid-image-halves {
    grid-row-gap: 48px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .waves---content-image-halves {
    text-align: center;
    align-items: center;
  }

  .waves-image-features-3, .waves-image-features-4 {
    max-width: 470px;
  }

  .waves---sides-heading-button {
    grid-row-gap: 32px;
    text-align: center;
    flex-direction: column;
  }

  .waves-grid-features-1 {
    grid-template-columns: 1fr 1fr;
  }

  .waves---content-image-halves-2 {
    text-align: center;
    align-items: center;
  }

  .waves---grid-cta-3 {
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .waves---section-hero-primary-2 {
    text-align: center;
  }

  .waves---mega-heading-1 {
    font-size: 72px;
    line-height: 110%;
  }

  .waves-bottom-hero-3 {
    grid-row-gap: 40px;
    flex-direction: column;
    align-items: center;
  }

  .waves-bottom-right-hero-3 {
    align-items: center;
  }

  .waves---mega-heading-2 {
    font-size: 72px;
    line-height: 110%;
  }

  .waves-section-hero-5 {
    padding-top: 240px;
  }

  .waves-top-footer-1 {
    grid-row-gap: 40px;
    flex-direction: column;
  }

  .waves-divider-footer-1 {
    margin-top: 40px;
  }

  .waves-bottom-footer-1 {
    grid-row-gap: 32px;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .waves---subtitle {
    font-size: 22px;
    line-height: 34px;
  }

  .waves---main-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves---heading-1-no-margins {
    font-size: 56px;
  }

  .waves---nav-container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .waves---main-container-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves---section-medium {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---heading-2-no-margins {
    font-size: 44px;
    line-height: 125%;
  }

  .waves---main-container-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves---section-medium-2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---heading-2-no-margins-2 {
    font-size: 44px;
    line-height: 125%;
  }

  .waves---section-medium-3 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---main-container-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves---section-medium-4 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---heading-2-no-margins-3 {
    font-size: 44px;
    line-height: 125%;
  }

  .waves-master-cta-4 {
    padding: 80px 32px;
  }

  .waves-master-gallery-1 {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
  }

  .waves-grid-gallery-1 {
    grid-template-columns: 1fr;
  }

  .waves---mega-heading-1 {
    font-size: 56px;
  }

  .waves---subtitle-2 {
    font-size: 22px;
    line-height: 34px;
  }

  .waves---main-container-5 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves---mega-heading-2 {
    font-size: 56px;
  }

  .waves---subtitle-3 {
    font-size: 22px;
    line-height: 34px;
  }

  .waves---main-container-6 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves-section-hero-5 {
    padding-top: 160px;
  }

  .waves-title-wrap-hero-5 {
    text-align: center;
    align-items: center;
  }

  .waves-top-right-footer-1 {
    grid-row-gap: 32px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .waves---section-hero-primary {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---subtitle {
    font-size: 20px;
  }

  .waves-master-image-hero-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .waves---heading-1-no-margins {
    font-size: 36px;
    line-height: 110%;
  }

  .waves---nav-cta {
    display: none;
  }

  .waves---section-medium {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .waves---heading-2-no-margins {
    font-size: 34px;
  }

  .waves---expandable-content {
    flex: 0 auto;
    max-width: none;
  }

  .waves---expand-line {
    flex: none;
  }

  .waves---expand-line.vertical {
    transform-origin: 50%;
    flex: none;
  }

  .waves---expand-icon-wrap {
    flex: none;
  }

  .waves-expanded-text {
    font-size: 16px;
    line-height: 24px;
  }

  .waves---section-medium-2 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .waves---heading-2-no-margins-2 {
    font-size: 34px;
  }

  .waves---content-image-halves {
    align-items: stretch;
  }

  .waves---section-medium-3, .waves---section-medium-4 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .waves---heading-2-no-margins-3 {
    font-size: 34px;
  }

  .waves-grid-features-1 {
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
  }

  .waves---heading-3-no-margins {
    font-size: 22px;
  }

  .waves---content-image-halves-2 {
    align-items: stretch;
  }

  .waves---2-cta-flex {
    grid-row-gap: 8px;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .waves-bottom-gird-gallery-3 {
    grid-template-columns: .8fr 1.2fr .7fr;
    height: 30vh;
  }

  .waves-top-grid-gallery-3 {
    grid-template-columns: .7fr 1.2fr .8fr;
    height: 30vh;
    margin-bottom: 16px;
  }

  .waves-small-image-wrap-gallery-3.last-image-top-grid {
    display: none;
  }

  .waves---section-hero-primary-2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---mega-heading-1 {
    font-size: 36px;
  }

  .waves---subtitle-2 {
    font-size: 20px;
  }

  .waves---mega-heading-2 {
    font-size: 36px;
  }

  .waves---subtitle-3 {
    font-size: 20px;
  }

  .waves-section-hero-5 {
    padding-bottom: 48px;
  }

  .waves-top-right-footer-1 {
    grid-row-gap: 24px;
    flex-direction: column;
  }

  .waves-bottom-right-footer-1 {
    grid-row-gap: 16px;
    flex-wrap: wrap;
  }
}

#w-node-_6285aa4c-c886-f185-4de8-fffaf35f35e0-c5736e83 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center start;
}

#w-node-_6285aa4c-c886-f185-4de8-fffaf35f35e8-c5736e83, #w-node-d6e07d8f-7393-4a7e-2873-4212be4bbae9-c5736e83 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d6e07d8f-7393-4a7e-2873-4212be4bbaea-c5736e83 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-c6690bfc-9b0e-579b-e75d-5537e352e70e-c5736e83 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c6690bfc-9b0e-579b-e75d-5537e352e70f-c5736e83 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_9fdf1989-ceac-d779-5f6b-d9b01f1885ef-c5736e83, #w-node-_9fdf1989-ceac-d779-5f6b-d9b01f1885f6-c5736e83, #w-node-_9fdf1989-ceac-d779-5f6b-d9b01f1885fd-c5736e83, #w-node-_9fdf1989-ceac-d779-5f6b-d9b01f188604-c5736e83, #w-node-_0d8e4884-bbf9-9c89-018d-b5be4614b317-c5736e83, #w-node-_0d8e4884-bbf9-9c89-018d-b5be4614b31c-c5736e83 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_6285aa4c-c886-f185-4de8-fffaf35f35e0-c5736e83 {
    justify-self: center;
  }

  #w-node-d6e07d8f-7393-4a7e-2873-4212be4bbae9-c5736e83 {
    place-self: center;
  }

  #w-node-c6690bfc-9b0e-579b-e75d-5537e352e70e-c5736e83 {
    justify-self: center;
  }
}


